/* BOOK GIVEAWAY */

.book-summary {
  display: none;
}

@media (min-width: 544px) {
  .mobile-book-summary {
    display: none;
    padding: 0 0 1em 0;
  }

  .book-summary {
    display: block;
  }
}
