:root {
  /* Teal */
  --teal-00: #001813;
  --teal-05: #002b23;
  --teal-06: #08443a;
  --teal-07: #1a5e52;
  --teal-10: #559086;
  --teal-20: #82aea7;
  --teal-30: #b5d1cc;
  --teal-35: #bdd8da; /* navbar */
  --teal-40: #dee8e9;
  --teal-50: #e9eff1; /* link highlight */

  /* Grey */
  --gray-30: #959393;
  --gray-40: #c1c1c1;
  --gray-45: #dbdbdb; /* btn active */
  --gray-47: #e5e5e5; /* btn */
  --gray-50: #efefef; /* footer */
  --gray-55: #f9f9f9; /* product description */

  /* Navy */
  --blue-00: #00080e;
  --blue-01: #011220;
  --blue-10: #051f36; /* slide, link text */
  --blue-15: #13334f;
  --blue-20: #294c6b;
  --blue-30: #5f7496;

  /* Coral */
  --coral-20: #fe7f78;
  --coral-30: #fe8f8b;
}

/* LIST */
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0em;
  list-style-position: outside;
}

ul li {
  padding-left: 2em;
  text-indent: -2em;
}

ul li:before {
  content: "—";
  padding-right: 1em;
}

ol {
  margin-left: 1em;
  padding-left: inherit;
  list-style-position: outside;
}

ol li:before {
  padding-right: 0em;
}

ol li {
  padding-left: 1em;
  text-indent: 0em;
}

/* INPUTS */

input[type="text"] {
  background: white;
}

.field:focus {
  outline: 1px solid #228cfa;
  background: white;
}

.fields:valid,
.fields:active,
.fields:visited {
  background: white !important;
  background-color: white !important;
}

.name-form {
  display: block;
}

@media (min-width: 460px) {
  .name-form {
    display: flex;
  }
}

/* LAYOUTS */
body {
  margin: 0;
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: var(--gray-55);
}

@media (min-width: 1024px) {
  #root {
    background: #fff;
  }
}

.page {
  min-height: 88vh;
}

.home-layout {
  padding: 20px;
}

.rounded {
  border-radius: 30px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttons {
  width: 100%;
}

.buttons button {
  margin-right: 20px;
  margin-bottom: 4px;
}

.blog p {
  margin-bottom: 1em;
  max-width: 1000px;
}

.blog li {
  max-width: 1000px;
}

.blog hr {
  max-width: 1000px;
}

.blog blockquote {
  margin-left: 40px;
  max-width: 960px;
}

@media (min-width: 768px) {
  .blog blockquote {
    margin-top: 0.5em;
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
}

.blog figcaption {
  display: block;
  font-size: 0.8em;
  margin-bottom: 1.2em;
}

@media (min-width: 1024px) {
  .blog figure {
    max-width: 1000px;
    text-align: center;
  }

  .blog img {
    max-width: 800px;
    max-height: 530px;
  }

  .blog figcaption {
    display: block;
    font-size: 0.8em;
    margin-bottom: 1.2em;
  }
}

.box-shadow {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.07);
}
.oath p {
  margin-bottom: 1em;
}

/* HOMEPAGE */

.homepage-img {
  width: 100%;
  height: 43vh;
  background-image: url("./img/mtns.jpeg");
  /* background-image: url("./img/mountains2.jpeg"); */
  background-position: top center;
  background-size: cover;
  z-index: 0;
  position: relative;
}

.homepage-box {
  z-index: 1;
  background: #f9f9f9e6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px;
}

.image-container {
  z-index: 0;
  position: relative;
}

.break {
  display: none;
}

.hide-on-mobile {
  display: none;
  font-size: 1em;
}

@media (min-width: 640px) {
  .break {
    display: inline-block;
  }

  .hide-on-mobile {
    display: inline-block;
    font-size: 1em;
  }
}
.homepage-box-text {
  display: none;
}

@media (min-width: 1000px) {
  .homepage-box-text {
    display: inline-block;
    font-size: 1em;
  }
}

@media (min-width: 1340px) {
  .homepage-box-text {
    font-size: 1.4em;
    font-weight: "200";
  }
}

figcaption {
  display: none;
}

@media (min-width: 640px) {
  .homepage-box {
    height: 45%;
    width: 70%;
  }
}

@media (min-width: 768px) {
  figcaption {
    display: block;
    font-size: 0.8em;
  }
}

@media (min-width: 1024px) {
  .homepage-box {
    min-height: 45%;
    width: 70%;
  }

  figcaption {
    display: block;
    font-size: 1em;
  }

  .homepage {
    width: 85%;
  }
}

/* LINKS */
p a {
  color: var(--blue-10);
  text-decoration: none;
  font-weight: 700;
  padding-bottom: -1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--teal-40);
}

p a:hover {
  border: 3px solid var(--teal-50);
  margin: -3px;
  background: var(--teal-50);
}

#sale a:hover {
  border: 3px solid var(--teal-06);
  background: none;
  font-style: italic;
  border-bottom: 2px solid var(--teal-40);
}

li a {
  color: var(--blue-10);
  text-decoration: none;
  font-weight: 700;
}

li a:hover {
  border: 3px solid var(--teal-50);
  margin: -3px;
  background: var(--teal-50);
}

figcaption a {
  color: var(--blue-10);
  text-decoration: none;
  font-weight: 700;
}

figcaption a:hover {
  border: 3px solid var(--teal-50);
  margin: -3px;
  background: var(--teal-50);
}

/* BUTTONS */
.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9em;
  font-family: inherit;
  padding: 10px 20px;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.btn-default {
  background-color: var(--gray-47);
}

.btn-default:hover {
  background-color: var(--gray-45);
  font-weight: 600;
  text-decoration: none;
}

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  padding: 4px 20px 4px 20px;
  border: 0;
  transition: background-color 200ms, color 200ms;
  background-color: var(--gray-47);
}

input[type="submit"]:hover {
  background-color: var(--gray-45);
  font-weight: 600;
}

.btn-default:active {
  background-color: var(--gray-45);
  font-weight: 600;
}

.btn-accent {
  background-color: var(--coral-30);
  text-decoration: none;
}

.btn-accent:hover {
  background-color: var(--coral-20);
  font-weight: 600;
}

.btn-accent:active {
  background-color: var(--coral-20);
  font-weight: 600;
}

.btn-nav {
  background-color: var(--teal-06);
  text-decoration: none;
  font-weight: 600;
  color: white;
  /* margin-left: 10px; */
}

.btn-nav:hover {
  background-color: var(--teal-05);
  font-weight: 900;
}

.btn-nav:active {
  background-color: var(--teal-05);
  font-weight: 900;
}

/* INPUT */
input[type="text"] {
  border: 2px solid var(--gray-47);
  border-radius: 3px;
  font-family: inherit;
  padding: 2px 6px 2px 6px;
}

input[type="text"]:focus {
  background-color: var(--teal-40);
  border: 2px solid var(--gray-47) !important;
}

/* NAVBAR */
.navbar {
  background-color: var(--teal-35);
  padding: 10px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-img {
  display: none;
}

.nav-brand {
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  padding-left: 0.8em;
  color: var(--blue-01);
  margin: auto;
}

.navbar li {
  display: none;
}

.navbar-menu {
  text-align: right !important;
  position: absolute;
  width: 30vw;
  right: 10px;
  z-index: 2;
  font-size: 0.8em;
  padding: 0.2rem 0.2rem;
  line-height: 0;
}

.navbar-item {
  text-align: right;
}

.navbar-burger {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar-burger:active {
  background: none;
}

@media (min-width: 640px) {
  #header-img {
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    align-self: center;
    display: inline-block;
    object-fit: cover;
    background-size: cover;
  }

  .nav-brand {
    padding-left: 20px;
  }

  .navbar-burger {
    display: none;
  }

  .navbar ul {
    list-style-type: none;
    overflow: hidden;
    padding-right: 1vw;
    text-align: center;
  }

  .navbar li {
    display: inline-block;
    padding-left: 0;
    text-indent: 0;
  }

  .navbar li:before {
    content: "";
    padding-right: 0;
  }

  .nav-item a {
    font-size: 0.8em;
    padding: 13px 5px;
    min-width: 50px;
    text-decoration: none;
    font-weight: normal;
    color: var(--blue-01);
    display: inline-block;
    text-align: center;
  }

  .nav-item a:hover {
    text-decoration: none;
    color: var(--blue-20);
    border: none;
    margin: inherit;
    background: none;
  }

  .nav-item a.active {
    font-weight: bold;
    margin: inherit;
  }

  #navbarBasic {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-item a {
    font-size: 0.9em;
    padding: 13px 20px;
  }
}

/* FOOTER */
.footer-container {
  display: flex;
  height: 12vh;
  background-color: var(--gray-50);
  color: var(--gray-30);
  font-size: 0.8em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.footer-container img {
  width: 32px;
  margin: 8px 8px 2px 8px;
}

/* PRODUCT */
.product-layout {
  padding-top: 20px;
  background: var(--gray-55);
}

.product-title {
  font-size: 1.2em;
  padding-left: 20px;
  padding-right: 20px;
}

#product-img {
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.07);
  margin-bottom: 4px;
  object-fit: cover;
}

#product-left-side {
  max-width: 300px;
  margin: 10px auto 20px auto;
}

.box-title {
  margin-bottom: 8px;
}

.gray-box {
  background: var(--gray-50);
  width: 100vw;
  height: auto;
  margin-bottom: 20px;
  padding: 20px;
}

.teal-box {
  background: var(--teal-40);
  padding: 20px;
  margin-bottom: 20px;
}

.white-box {
  background: var(--gray-55);
  margin: 40px 0 40px 0;
  padding: 20px;
}

.white-outline-box {
  background: var(--gray-55);
  margin: 40px 0 40px 0;
  padding: 20px;
  border: 5px solid var(--teal-20);
}

.image-display-tri {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.image-display-tri img {
  display: inline-block;
  max-width: 25vw;
  height: auto;
  text-align: center;
}

.float-right {
  float: right;
}

@media (min-width: 768px) {
  .product-layout {
    margin: 20px;
    padding: 0;
  }
  .product-title {
    padding: 0;
  }

  #product-left-side {
    margin: 0;
  }
  #product-img {
    margin-bottom: 10px;
  }

  .product-info {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 1fr;
  }

  #product-description {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  .gray-box {
    width: auto;
    height: 100%;
    margin: 20px;
  }

  #product-testimonials {
    grid-column: 1 / 3;
    margin: 0;
    height: 100%;
  }

  .teal-box {
    margin: 20px;
  }

  #product-left-side {
    max-width: none;
    margin: none;
  }

  #product-description {
    height: 100%;
  }

  .center-text-box {
    width: 95%;
    margin: auto;
  }

  .float-left {
    float: left;
  }

  .two-col {
    column-count: 2;
    column-gap: 40px;
  }

  .t-shirt {
    background: #f9f9f9;
    box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.07);
    height: "auto";
  }
}

@media (min-width: 1024px) {
  .product-layout {
    margin: 40px 80px 40px 80px;
    padding: 20px;
    border: 5px solid var(--gray-55);
    background: var(--gray-55);
    box-shadow: 0px 2px 7px 7px rgba(0, 0, 0, 0.07);
  }

  .thirds {
    grid-template-columns: 300px 2fr 1fr;
  }

  .sevenths {
    grid-template-columns: 300px 4fr 3fr;
  }

  #product-testimonials {
    grid-column: 3 / 4;
  }

  .image-display-tri img {
    box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.07);
  }

  .teal-box {
    margin: 40px 0 40px 0;
  }

  .gray-box {
    margin: 40px 0 40px 0;
    padding: 20px;
  }

  .box-title {
    text-align: center;
    margin-bottom: 12px;
  }

  .three-col {
    column-count: 3;
    padding-bottom: 20px;
    column-gap: 40px;
  }
}

/* PRODUCT CATALOG */
.home-layout {
  padding: 20px;
  border: 5px solid var(--gray-55);
  background: var(--gray-55);
  box-shadow: 0px 2px 7px 7px rgba(0, 0, 0, 0.07);
}

.card {
  margin-bottom: 2vh;
}

.card-image {
  overflow: hidden;
  border: 1px solid var(--gray-50);
  height: 12rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-image img {
  margin-top: -3rem;
  object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-title {
  font-size: 1.2em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.content {
  margin-top: -1em;
}

.full-width {
  width: 100%;
}

.bottom {
  position: relative;
  bottom: 0;
}

@media (min-width: 640px) {
  #product-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  .card {
    height: 100%;
  }

  .card-image {
    height: auto;
  }

  .card-image img {
    margin-top: 0px;
    object-fit: cover;
  }

  .bottom {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  #product-catalog {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .card-title {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .home-layout {
    margin: 40px 80px 40px 80px;
    padding: 20px;
    border: 5px solid var(--gray-55);
    background: var(--gray-55);
    box-shadow: 0px 2px 7px 7px rgba(0, 0, 0, 0.07);
  }

  #product-catalog {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

/* ABOUT */

@media (min-width: 640px) {
  .about-card {
    display: grid;
    grid-template-columns: minmax(0px, 215px) auto;
  }
}

/* CAROUSEL */
.carousel-item {
  padding: 40px;
}

.carousel-container li:before {
  content: "";
  padding-right: 1em;
}

/* DIALOG */
dialog {
  display: none;
}

@media (min-width: 768px) {
  dialog {
    display: inline-block;
    border: solid 3px var(--gray-50);
    position: fixed;
    top: 6vh;
    z-index: 10;
  }

  dialog img {
    max-height: 80vh;
  }

  dialog figcaption {
    text-align: center;
  }

  .small {
    top: 12vh;
  }

  .small img {
    max-height: 68vh;
  }

  .products-popup {
    top: 20vh;
  }

  .products-popup img {
    margin: 0 40px;
  }

  .close-icon {
    content: "x";
    cursor: pointer;
    position: absolute;
    right: 28px;
    top: 28px;
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 0.9em;
  }
}
